node_modules/
test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.vscode/
.DS_Store
npm-debug.log
/.github/workflows/playwright-tests.yml
zerostep.config.json
lighthouse-performance-report.json